# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/01-ellaine-dimaranig.jpg
!app/crud/uploads/02-kristel-olive-rejesus.jpg
!app/crud/uploads/03-mary-dine-monge.jpg
!app/crud/uploads/04-mien-mie-egipto.jpg
!app/crud/uploads/05-trisha-lopez.jpg
!app/crud/uploads/06-bernadette-panaligan.jpg
!app/crud/uploads/07-mara-monte.jpg
!app/crud/uploads/08-euricka-lyn-moraña.jpg
!app/crud/uploads/09-agatha-kaye-olayon.jpg
!app/crud/uploads/10-angela-sheriza-tino.jpg
!app/crud/uploads/11-cristelle-may-sermona.jpg
!app/crud/uploads/12-chynna-alexa-enimedez.jpg
!app/crud/uploads/13-clarise-peregrino.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
